<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing message</h1>

  <%= render "form", message: @message %>

   <%= link_to 'Return to project', project_path(@project.id) %>
</div>
