<div id="<%= dom_id task %>">
  <%= task.description %>
  <%= link_to "Edit", edit_project_task_path(task.project_id, task.id) %>
  <%= button_to 'Destroy', project_task_path(task.project_id, task.id), method: :delete %>
</div>
