<h2 class="text-center text-xl">Members</h2>
<% project.all_members.each do |member| %>
  <div class="mx-auto flex-col">
    <%= render 'member', member: member, project: project %>
  </div>
<% end %>