<div class="flex space-x-8">
  <i><%= member.email %></i>
  <% if current_user.has_role?(:super_admin) || current_user.has_role?(:admin, project) %>
    <%= button_to 'Unshare', project_share_path(member.project_share_id(project)), method: :delete, class: "btn btn-outline" %>
    <% if member.has_role?(:admin, project) %>
      <%= button_to 'Remove admin', remove_admin_project_path, method: 'delete', params: {member_id: member.id}, class: "btn btn-outline" %>
    <% else %>
      <%= button_to 'Add admin', add_admin_project_path, method: 'post', params: {member_id: member.id}, class: "btn btn-outline" %>
    <% end %>
  <% end %>
</div> 
